*
{
	margin: 0;
	padding: 0;
	font-family: merienda;
}
/*------Header----------*/

#Header
{
	height: 100vh;
	background-image: url(img/Bgmain.jpeg);
	background-position: center;
	background-size: cover;
    color: white;
}
.container
{
	margin-right: 100px;
	margin-left: 100px;
}
.logo
{
	margin-top: 30px;
	width: 100px;
}
.header-text
{
	max-width: 450px;
	margin-top: 140px;
}
h1
{
	font-size: 34px;
}
.square
{
	height: 3px;
	width: 282px;
	display: inline-block;
	background: #ff4500;
	margin: 15px 0;
}
.common-btn
{
	padding: 12px 28px;
	background: white;
	outline: none;
	border-radius: 12px;
	border: 2px solid white;
	font-size: bold;
	cursor: pointer;
	text-decoration: none;
}

.common-btn {
  transition-duration: 0.8s;
}

.common-btn:hover  {
  background-color: white ;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.common-btn a{
	text-decoration: none;
	color: #000;
}
.common-btn:hover
{
	color: #ff4500;
	background:#ff4500;
	transition: 0.5s; 
	border:2px solid #ff4500;
}
.common-btn a:hover
{
	color: #fff;

}


p{
	font-size: 15px;
	line-height: 18px;
	color: #777;
}
.header-text button{
	margin-top: 20px;
	margin-bottom: 40px;
}
.line
{
	line-height: 8px;
}
/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay  */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right:0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}


/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



/*-----about------------*/

#about, #offer
{
	padding: 100px 0;
	display: flex;
	min-height: 83vh;
	align-items: center;
	flex-wrap: wrap;
    background-color: white;
}
.about-left-col
{
	flex-basis: 50%;
}
.about-left-col img
{
	width: 100%;
}
.about-right-col
{
	flex-basis: 50%;
	text-align: right;
}
.about-text
{
	max-width: 700px;
	margin-right: 100px;
	display: inline-block;
}
.about-text h2 {
	margin: 50px 0 10px;
	font-size: 28px;
	font-style: italic;
}

.about-text h3 {
	font-size: 20px;
	color: #797979;
	font-style: italic;
}
{
	padding: 10px 0;
}
.skills-row
{
	display: flex;align-items: center;
	flex-wrap: wrap;
}
.skills-right-col
{
	flex-basis: 50%;
}
.skills-right-col img 
{
	width: 100%;
}
.skills-left-col
{
	flex-basis: 50%;
}

.center
{
    width: 90%;
    position: flex;
   	padding: 10px;
    background: #333;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,.5);
    margin: 120px;
}
.center h1
{
    margin: 0;
    padding: 0;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
}
body{
  background: #333;
}
.skillBox
{
    box-sizing: border-box;
    width: 100%;
    margin: 20px 0;
}
.skillBox p
{
    color: white;
    text-transform: uppercase;
    margin: 0 0 10px;
    padding: 0;
    font-weight: bold;
    letter-spacing: 1px;
}
.skillBox p:nth-child(2)
{
    float: right;
    position: relative;
    top: -25px;
}
.skill
{
    background: grey;
    padding: 4px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 2px;
}
.skill_level
{
    background: black;
    width: 100%;
    height: 10px;
}

/*------My-Work----------*/

#portfolio h1
{
text-align: center; 
padding: 40px; 
font-size: 50px; 
margin: 5px;
}

#work
{
	margin: 0;
	padding: 0;
	min-height: 83vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container1
{
	position: relative;
	width: 1200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.container1 .box
{
	position: relative;
	width: 280px;
	height: 375px;
	margin: 20px 0;
	box-sizing: border-box;
	overflow: hidden;
}
.container1 .box .imgBx
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	clip-path: circle(400px at center 100px);
	transition: 0.5s;
	transition-delay: 0.5s;
}

.container1 .box:hover .imgBx
{
	clip-path: circle(80px at center 100px);
	transition-delay: 0.3s;
}
.container1 .box .imgBx img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100;
	height: 100%;
	object-fit: cover;
}
.container1 .box .content
{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 55%;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
}
.container1 .box .content h2
{
	margin: 0;
	padding: 0;
}
.container1 .box .content a
{
	text-decoration: none;
	background: #3498DB;
	color: #fff;
	padding: 5px;
	display: inline-block;
	margin: 10px;
}
.container1 .box .content h2,
.container1 .box .content p,
.container1 .box .content a
{
	opacity: 0;
	transition: 0.5s;
	transform: translateY(20px);
}
.container1 .box:hover .content h2
{
	opacity: 1;
	transform: translateY(0);
	transition-delay: 0.5s;
}
.container1 .box:hover .content p
{
	opacity: 1;
	transform: translateY(0);
	transition-delay: 0.7s;
}
.container1 .box:hover .content a
{
	opacity: 1;
	transform: translateY(0);
	transition-delay: 0.9s;
}

/*---Blog---*/

#blogs
{
	background-color: white;
}
#blogs h1
{
text-align: center; 
padding: 40px; 
font-size: 50px; 
margin: 5px;
}

#blog
{
	margin: 0;
	padding: 0;
	min-height: 83vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container2
{
	position: relative;
	width: 1200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.container2 .box
{
	position: relative;
	width: 280px;
	height: 375px;
	margin: 20px 0;
	box-sizing: border-box;
	overflow: hidden;
}
.container2 .box .imgBx
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	clip-path: circle(400px at center 100px);
	transition: 0.5s;
	transition-delay: 0.5s;
}

.container2 .box:hover .imgBx
{
	clip-path: circle(80px at center 100px);
	transition-delay: 0.3s;
}
.container2 .box .imgBx img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100;
	height: 100%;
	object-fit: cover;
}
.container2 .box .content
{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 55%;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
}
.container2 .box .content h2
{
	margin: 0;
	padding: 0;
}
.container2 .box .content a
{
	text-decoration: none;
	background: #3498DB;
	color: #fff;
	padding: 5px;
	display: inline-block;
	margin: 10px;
}
.container2 .box .content h2,
.container2 .box .content p,
.container2 .box .content a
{
	opacity: 0;
	transition: 0.5s;
	transform: translateY(20px);
}
.container2 .box:hover .content h2
{
	opacity: 1;
	transform: translateY(0);
	transition-delay: 0.5s;
}
.container2 .box:hover .content p
{
	opacity: 1;
	transform: translateY(0);
	transition-delay: 0.7s;
}
.container2 .box:hover .content a
{
	opacity: 1;
	transform: translateY(0);
	transition-delay: 0.9s;
}

/*------------contact------------*/

#contact h1{
text-align: center; 
padding: 20px; 
font-size: 50px; 
margin: 12px;
}
#contact h6{
text-align: center; 
padding: 20px; 
font-size: 34px; 
margin: 12px;
}
.contact-row
{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.contact-right-col
{
	flex-basis: 100%;
	align-items: center;
}

					/*-----social-media-----*/
					.middle{
					  position: relative;
					  top: 50%;
					  transform: translateY(-10%);
					  width: 100%;
					  text-align: center;
					}
					.btn{
					  display: inline-block;
					  width: 70px;
					  height: 70px;
					  background: #f1f1f1;
					  margin: 10px;
					  border-radius: 30%;
					  box-shadow: 0 5px 15px -5px #00000070;
					  color: #3498db;
					  overflow: hidden;
					  position: relative;
					}
					.btn i{
					  line-height: 70px;
					  font-size: 22px;
					  transition: 0.2s linear;
					}
					.btn:hover i{
					  transform: scale(1.3);
					  color: #f1f1f1;
					}
					.btn::before{
					  content: "";
					  position: absolute;
					  width: 120%;
					  height: 120%;
					  background: #3498db;
					  transform: rotate(45deg);
					  left: -110%;
					  top: 90%;
					}
					.btn:hover::before{
					  animation: aaa 0.7s 1;
					  top: -10%;
					  left: -10%;
					}
					@keyframes aaa {
					  0%{
					    left: -110%;
					    top: 90%;
					  }50%{
					    left: 10%;
					    top: -30%;
					  }100%{
					    top: -10%;
					    left: -10%;
					  }
					}

.footer-logo img
{
	width: 100px;
	position:absolute;
	
}
.rights-text
{
	text-align: center; 
	padding: 10px;
}




/*------Responsive---------*/
@media only screen and (max-width: 770px){
	#Header
	{
		background-image: none !important;
	}
	.container
	{
		margin-right: 50px;
		margin-left: 50px;
	}
	.logo
	{
		margin-top: 27px;
		width: 70px;
	}
	.header-text
	{
		margin-top: 100px;
	}
	h1
	{
		font-size: 25px;
	}
	#menubtn
	{
		width: 40px;
		
		right: 50px;
		
	}
	.common-btn
	{
		padding: 10px 16px;
	}
	.about-left-col,.about-right-col
	{
		flex-basis: 100%;
	}

	.about-text
	{
		margin: 50px 50px 0;
		display: inline-block;
	}
	.about-text h2 {
		font-size: 18px;
	}
	#portfolio h1
	{
		 padding: 2px;
		font-size: 30px; 
		margin: 2px;
	}
	#blogs h1
	{
		 padding: 2px;
		font-size: 30px; 
		margin: 2px;
	}
	#about .center
	{
		width: 100%;
		margin: 0;
		padding: 10px;
	}
	.container1
	{
		flex-basis: 25%;
		text-align: center;
		margin-bottom: 20px;
	}
	.container1 .imgBX
	{
		width:100%;
		margin-bottom: 20px;
	}
	.container1 .content
	{
		margin: 0;
		padding: 0;
	}
	.container1 .box
	{
		width: 100%;
	}
	.container1 .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
	}
	.container2
	{
		flex-basis: 25%;
		text-align: center;
		margin-bottom: 20px;
	}
	.container2 .imgBX
	{
		width:100%;
		margin-bottom: 20px;
	}
	.container2 .content
	{
		margin: 0;
		padding: 0;
	}
	.container2 .box
	{
		width: 100%;
	}
	.container2 .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
	}
	.skills-left-col
	{
		flex-basis: 100%;
	}
	.skills-right-col
	{
		flex-basis: 100%;
		margin-top: 70px;
	}
	#contact h1
	{
		 padding: 2px; 
		font-size: 30px; 
		margin: 2px;
	}
	#contact h6
	{
		padding: 2px; 
		font-size: 30px; 
		margin: 2px;

	}
	.container1
	{
		margin-right: 50px;
		margin-left: 50px;
		flex-basis: 100%;
	}
	.container2
	{
		margin-right: 50px;
		margin-left: 50px;
		flex-basis: 100%;
	}
	
	.contact-left-col,.contact-right-col
	{
		flex-basis: 100%;
	}
	.contact-right-col
	{
		margin-top: 50px;
	}
	/*-----social-media-----*/
					.middle{
					  position: relative;
					  top: 50%;
					  transform: translateY(-10%);
					  width: 100%;
					  text-align: center;
					}
					.btn{
					  display: inline-block;
					  width: 50px;
					  height: 50px;
					  background: #f1f1f1;
					  margin: 8px;
					  border-radius: 30%;
					  box-shadow: 0 5px 15px -5px #00000070;
					  color: #3498db;
					  overflow: hidden;
					  position: relative;
					}
					.btn i{
					  line-height: 50px;
					  font-size: 18px;
					  transition: 0.2s linear;
					}
					.btn:hover i{
					  transform: scale(1.3);
					  color: #f1f1f1;
					}
					.btn::before{
					  content: "";
					  position: absolute;
					  width: 120%;
					  height: 120%;
					  background: #3498db;
					  transform: rotate(45deg);
					  left: -110%;
					  top: 90%;
					}
					.btn:hover::before{
					  animation: aaa 0.7s 1;
					  top: -10%;
					  left: -10%;
					}
					@keyframes aaa {
					  0%{
					    left: -110%;
					    top: 90%;
					  }50%{
					    left: 10%;
					    top: -30%;
					  }100%{
					    top: -10%;
					    left: -10%;
					  }
					}
	
	
}
